<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Needed to Android 5.0 (API level 21) or higher. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />
    <!--
         The Maps API requires the additional following permissions to be set
         in the AndroidManifest.xml to ensure a correct behavior
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Necessary to connect to Flickr account -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/info_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,DiscouragedApi,LockedOrientationActivity">


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Google Maps-based APIs Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SimpleNoteActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_simple_note" />
        <activity
            android:name=".GearNoteActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_gear_note" />
        <activity
            android:name=".FlickrNoteActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_flickr_note" />
        <activity
            android:name=".SimpleNotesListActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_simple_notes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GearNotesListActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_gear_notes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FlickrNotesListActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_flickr_notes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FlickrPhotosetsListActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_flickr_photosets"
            android:parentActivityName=".FlickrNotesListActivity" />
        <activity
            android:name=".FlickrUploadToPhotosActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_flickr_upload" />
        <activity
            android:name=".ReturnToForegroundActivity" />
        <activity
            android:name=".FlickrPhotoActivity" />
        <activity
            android:name=".ArchiveActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_archive"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FullscreenNoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_note_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".FlickrAccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_flickr_connect" />
        <activity
            android:name=".ClockActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_clock" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_settings" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_help"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_about"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>